<div class="">
  <h3 class="screen-header">Evaluación</h3>
  <p class="spacer-30"></p>

<%= render 'shared/errors', obj: @appointment %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <%= form_for(@appointment, :html => {role: "form"}) do |apt| %>
        <%= hidden_field_tag("research_id", @current_research.id) %>
        <%= hidden_field_tag("comesFrom", @comesFrom) %>
        <%= apt.hidden_field(:research_id) %>
  
        <% tabs = @appointment.research.tabs %>
        <% tabs.each_with_index do |tab, tab_idx| %>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href='#<%= "collapse#{tab_idx}" %>' aria-expanded="true" aria-controls='<%= "collapse#{tab_idx}" %>'>
                  <%= tab.name %>
                </a>
              </h4>
            </div>

            <div id='<%= "collapse#{tab_idx}" %>' class="panel-collapse collapse in" role="tabpanel">
              <div class="panel-body">

	            <%= apt.fields_for :values, OpenStruct.new(@appointment.values) do |builder| %>
                  <% fields = tab.get_fields %>
                  <% field_idx = 0 %>
	              <% fields.each_with_index do |rf, index| %>

	                <% if !rf.field.nil? %>
	                  <% field_idx = field_idx + 1 %>
	                  <% if field_idx == 1 %>
	                    <div class="row">
                      <% end %>
	                  <%= render "fields/builder/#{rf.field.field_type}", field: rf.field, f: builder %>
	                  <% if field_idx == 3 %>
                        </div>
                        <% field_idx = 0 %>
	                  <% end %>
	                <% else %>
	                  <% if field_idx > 0 %>
	                    </div>
	                    <% field_idx = 0 %>
	                  <% end %>
                      <div class="spacer-30"></div>
	                  <div class="row">
                        <div class="col-md-12">
                          <h3 class="" style="font-weight: bold"><%= "#{rf.subtitle_label}" %></h4>
                        </div>
                      </div>
                      <div class="spacer-10"></div>
                    <% end %>

                    <% if index == fields.count - 1 %>
	                  <% if field_idx > 0 %>
	                    </div>
	                    <% field_idx = 0 %>
	                  <% end %>
                    <% end %>

	              <% end %>
  	            <% end %>

  	            <% if tab_idx == tabs.count - 1 %>
                  <div class="spacer-50"></div>
                  <div class="row">
                    <div class="col-xs-12 col-md-12 col-lg-12">
			    	  <div class="well well-sm well-primary">
				        <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10 form-well">
				          <%= button_tag(:class => "btn btn-primary btn-sm btn-form") do %>
				            <em class="glyphicon glyphicon-floppy-disk"></em> Guardar 
				          <% end %>
  				          <% if @comesFrom == 'appointments' %>
				            <%= link_to appointments_path(research_id: @current_research), class: "btn btn-primary btn-sm btn-form" do %>
				              <em class="fa fa-undo"></em> Atrás 
				            <% end %>
				          <% elsif @comesFrom == 'patient'%>
				            <%= link_to edit_patient_path(@appointment.patient, research_id: @current_research), class: "btn btn-primary btn-sm btn-form" do %>
				              <em class="fa fa-undo"></em> Atrás 
				            <% end %>
				          <% end %>
				        </div>
				      </div>
				    </div>
				  </div>
                <% end %>

  	          </div>
			</div>     

          </div>
        <% end %>
      <% end%>

    </div>
  </div>
</div>

</div>
