<%= render 'shared/errors', obj: @research %>

<div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
  <div class="row setup-content">
    <div class="col-xs-12 col-md-12">
      <div class="col-xs-12 col-md-12 panel panel-default" id="step">
      	<div class="spacer-10"></div>
      	<h4 class="text-center"> Pacientes del Protocolo </h4>
        <div class="spacer-20"></div>
        <div class="container col-xs-12">
          <div class="row clearfix">
            <div class="col-md-12 column">

			  <%= form_tag add_research_user_path, remote: true, method: :get, class: "form-horizontal" do %>  <!-- TODO: Replace for add_patients_path -->
			    <%= hidden_field_tag "p_research_id", @research.id %>
			    <div class="form-group">
			      <label class="col-xs-offset-0 col-xs-1 control-label" for="name">Candidato</label>
			      <div class="col-xs-6">
			        <%= collection_select(:patient, :candidate_id, @available_candidates, :id, "#{:get_identifier}", { include_blank: true }, {class: 'form-control form-style'} ) %> 
			      </div>
			      <div class="col-xs-2">
			        <%= button_tag(type: :submit, class: "btn btn-md btn-primary") do %>
			          <i class="fa fa-plus"></i> Agregar a pacientes
			        <% end %>
			      </div>
			    </div>
			  <% end %>

              <div id="research-users">
                <%= render 'research_users/users' %> <!-- TODO: Replace for patients partial -->
              </div>

			</div>
		    </div>
	      </div>
        </div>
      </div>
    </div>
  </div>

