<div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
  <div class="row setup-content">
    <div class="col-xs-12 col-md-12">
      <div class="col-xs-12 col-md-12 panel panel-default">
      	  <div class="spacer-10"></div>
      	  <% if !read_only %>
      	    <h4 class="text-center"> Datos Generales </h4>
          <% end %>
          <div class="spacer-20"></div>

		  <%= form_for(@research, :html => { class: "form-horizontal", role: "form", id: "basic-data-form" }) do |el| %>
		    <% if !read_only %>
 		      <div class="form-group">
		        <label class="col-xs-3 control-label" for="name">No.</label>
		        <div class="col-xs-1">
		      	  <%= el.text_field :seq_no, value: (@research.get_seqno unless @research.get_seqno == 0), class: "form-control form-style", disabled: true %>
		        </div>
		      </div>

		 	  <div class="form-group">
		        <label class="col-xs-3 control-label" for="name">Privado</label>
		        <div class="col-xs-9 material-switch pull-right label-padding">
		          <%= el.check_box :is_private, id: :is_private, class: 'form-control form-style research-is-private-field' %>
		          <label for="is_private" class="label-primary"></label>
		        </div>
			  </div>

		      <div class="form-group">
		   	    <label class="col-xs-3 control-label" for="name">Contraseña</label>
		        <div class="col-xs-3">
 		          <%= el.password_field :password, value: @research.form_password, class: 'form-control form-style research-password-field' %>
		        </div>
		      </div>
		    <% end %>
		
		    <div class="form-group">
		      <label class="col-xs-3 control-label" for="name">Código</label>
		      <div class="col-xs-3">
		        <%= el.text_field :code, class: "form-control form-style research-code-field", autofocus: true, onfocus: 'researchFormLogic();', disabled: read_only %>
		      </div>
		    </div>
		
		    <div class="form-group">
		      <label class="col-xs-3 control-label" for="name">Propietario</label>
		      <div class="col-xs-3">
		        <%= el.collection_select(:owner_id, User.all_users, :id, "#{:full_name}", { include_blank: true }, {class: 'form-control form-style', disabled: read_only} ) %> 
		      </div>
		    </div>
		    <div class="form-group">
		      <label class="col-xs-3 control-label" for="name">No. de registro de Investigación y Etica</label>
		  	  <div class="col-xs-5">
		        <%= el.text_field :registration_code, class: 'form-control form-style', disabled: read_only %>
		      </div>
		    </div>
		
		    <div class="form-group">
		      <label class="col-xs-3 control-label" for="name">Nombre</label>
		  	  <div class="col-xs-8">
		        <%= el.text_field :name, class: 'form-control form-style', disabled: read_only %>
		      </div>
		    </div>
		
		    <div class="form-group">
		      <label class="col-xs-3 control-label" for="description">Descripción</label>
		      <div class="col-xs-8">
		        <%= el.text_area :description, rows: 5, class: "form-control form-style", disabled: read_only %>
		      </div>
		    </div>
		
		    <% if !read_only %>
 		      <div class="form-group">
                <div class="spacer-20"></div>
		        <div class="col-xs-offset-2 col-xs-8 col-md-8 text-center">
		      	   <%= link_to go_back_research_path(research: @research, go_home: @research.new_record?), class: "btn btn-primary" do %> 
		      	     <i class="fa fa-chevron-left"></i> Atrás
		      	   <% end %>
                   <%= button_tag(type: :submit, class: "btn btn-primary") do %>
                     <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
                   <% end %>
		        </div>
		        <% if !@research.new_record? %>
		          <div class="col-xs-2 col-md-2">
                    <%= link_to research_path(@research), 
                                data: {confirm: "¿Esta seguro que quiere eliminar este Protocolo? " +
                                "Esta acción eliminará todo lo relacionado a él y ya no podrá ser revertida. " +
                                "El proceso puede tardar algunos minutos."},
                                method: :delete,
                                class: "btn btn-primary pull-right" do %> 
                        <i class="glyphicon glyphicon-trash"></i> Eliminar Protocolo 
                    <% end %>
                  </div>
                <% end %>
		        <div class="spacer-20"></div>
		      </div>
            <% end %>
		  <% end %>
      </div>  
    </div>
  </div>
</div>