<%= render 'shared/errors', obj: @research %>

<div class="row">
  <div class="wizard">
    <div class="wizard-inner">
      <div class="connecting-line"></div>
        <ul class="nav nav-tabs test" role="tablist">
          	<li role="presentation" class="wizard-step step1 <%= active_research_tab?(@research, @current_step, 1) %>">
              <a href="#step1" data-toggle="tab" aria-controls="step1" role="tab" title="Datos Generales">
              <span class="round-tab">
                <i class="fa fa-book"></i>
              </span>
            </a>
          </li>
          <li role="presentation" class="wizard-step step2 <%= active_research_tab?(@research, @current_step, 2) %>">
            <%= link_to get_research_tabs_path(research_id: @research.id), remote: true, title: "Configuración de Solapas y Campos" do %>
              <span class="round-tab">
                <i class="fa fa-wpforms"></i>
              </span>
            <% end %>
          </li>
          <li role="presentation" class="wizard-step step3 <%= active_research_tab?(@research, @current_step, 3) %>">
            <%= link_to get_research_users_path(research_id: @research.id), remote: true, title: "Configuración de Usuarios" do %>
              <span class="round-tab">
                <i class="fa fa-user"></i>
              </span>
            <% end %>
          </li>
          <li role="presentation" class="wizard-step step4 <%= active_research_tab?(@research, @current_step, 4) %>">
            <a href="#step4" data-toggle="tab" aria-controls="step4" role="tab" title="Finalizar">
              <span class="round-tab">
                <i class="fa fa-check"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>

      <%= hidden_field_tag "is-new-research", @research.new_record? %>

      <div class="tab-content">
        <div role="tabpanel" id="step1" class="wizard-pane tab-pane <%= active_research_tab?(@research, @current_step, 1) %>">
          <%= render 'form', obj: @research %>
        </div>

        <div role="tabpanel" id="step2" class="wizard-pane tab-pane <%= active_research_tab?(@research, @current_step, 2) %>">
          <%= render 'research_tabs/form', obj: @research %>
        </div>

        <div role="tabpanel" id="step3" class="wizard-pane tab-pane <%= active_research_tab?(@research, @current_step, 3) %>">
          <%= render 'research_users/form', obj: @research %>
        </div>

        <div role="tabpanel" id="step4" class="wizard-pane tab-pane <%= active_research_tab?(@research, @current_step, 4) %>">
          <h1>PASO 4</h1>
        </div>
      </div>