<div class="col-xs-12 col-xs-offset-0 col-md-12 col-md-offset-0">
  <div class="row setup-content">
    <div class="col-xs-12 col-md-12">
      <div class="col-xs-12 col-md-12 panel panel-default" id="step">
      	<div class="spacer-10"></div>
      	<h4 class="text-center"> Usuarios con acceso al Protocolo </h4>
        <div class="spacer-20"></div>
        <div class="container col-xs-12">
          <div class="row clearfix">
            <div class="col-md-12 column">

			  <%= form_tag add_research_user_path, remote: true, method: :get, class: "form-horizontal" do %>
			    <%= hidden_field_tag "u_research_id", @research.id %>
			    <div class="form-group">
			      <label class="col-xs-offset-1 col-xs-1 control-label" for="name">Usuario</label>
			      <div class="col-xs-2">
			        <%= collection_select(:research_user, :user_id, User.all_users, :id, "#{:full_name}", { include_blank: true }, {class: 'form-control form-style'} ) %> 
			      </div>
			      <label class="col-xs-1 control-label" for="name">Rol</label>
			      <div class="col-xs-2">
			        <%= collection_select(:research_user, :role_id, Role.all_roles, :id, "#{:name}", { include_blank: true }, {class: 'form-control form-style'} ) %> 
			      </div>
			      <div class="col-xs-2">
			        <%= button_tag(type: :submit, class: "btn btn-md btn-primary") do %>
			          <i class="fa fa-plus"></i> Agregar usuario
			        <% end %>
			      </div>
			    </div>
			  <% end %>

              <div id="research-users">
                <%= render 'research_users/users' %>
              </div>

			</div>
		    </div>
	      </div>
        </div>
      </div>
    </div>
  </div>
