<%= render 'shared/errors', obj: @user %>

<div class="row">
  <div class="col-xs-7 col-xs-offset-2">
     <%= form_for(@user, :html => {class: "form-horizontal", role: "form"}) do |el| %>
        <div class="form-group">
          <label class="col-xs-3 control-label" for="name">Usuario</label>
          <div class="col-xs-7">
            <%= el.text_field :username, class: "form-control form-style", autofocus: true %>
          </div>
        </div>

	    <div class="form-group">
          <label class="col-xs-3 control-label" for="name">Nombre</label>
	  	  <div class="col-xs-7">
	        <%= el.text_field :firstname, class: 'form-control form-style' %>
	      </div>
	    </div>
	    
	    <div class="form-group">
          <label class="col-xs-3 control-label" for="name">Apellidos</label>
	  	  <div class="col-xs-7">
	        <%= el.text_field :lastname, class: 'form-control form-style' %>
	      </div>
	    </div>

        <div class="form-group">
          <label class="col-xs-3 control-label" for="name">Email</label>
          <div class="col-xs-7">
            <%= el.email_field :email, class: "form-control form-style", autofocus: true %>
          </div>
        </div>

        <div class="form-group">
       	  <label class="col-xs-3 control-label" for="name">Contraseña</label>
          <div class="col-xs-7">
            <%= el.password_field :password, class: 'form-control form-style', placeholder: "#{@user.new_record? ? '' : '**********'}"%>
          </div>
        </div>
		
		<% if current_user.is_admin? %>
		  <div class="form-group">
            <label class="col-xs-3 control-label" for="name">Administrador</label>
            <div class="col-xs-9 material-switch pull-right label-padding">
              <%= el.check_box :is_admin, id: :is_admin, class: 'form-control form-style' %>
              <label for="is_admin" class="label-primary"></label>
            </div>
		  </div>
		<% end %>
		
        <%= hidden_field_tag 'user_account', user_account %>

        <div class="form-group">
          <div class="col-xs-offset-5 col-xs-10">
          	 <%= el.submit "Guardar", class: "btn btn-primary btn-form" %>
          	 <% if !user_account %>
          	   <%= link_to "Atras", users_path, class: "btn btn-primary btn-form" %>
             <% end %>
          </div>
        </div>
     <% end %>
    </div>
</div>