<% if obj.errors.any? %>
<div class="row">
  <div class="col-xs-offset-2 col-md-offset-2 col-xs-8 col-md-8">
	<div class="alert alert-danger">
	  <div class="panel-heading">
	  	<a href="#" class="close" data-dismiss="alert">&#215;</a>
       	<h2 class="panel-title">
          Se
          <%= pluralize_without_count(obj.errors.count, "encontró", "encontraron") %>
          <% if true %> <!-- FIXME: Some entities (like User) can throw more errors than messages -->
            <%= pluralize_without_count(obj.errors.count, "un error", "algunos errores") %>
          <% else %>
            <%= pluralize(obj.errors.count, "error", "errores") %>
          <% end %>
          que
          <%= pluralize_without_count(obj.errors.count, "evitó", "evitaron") %>
          que este registro se guarde correctamente:
        </h2>
        <div class="panel-body">
          <ul>
            <% obj.errors.messages.values.each do |message| %>
              <% msg = message[0] %>
              <% if !msg.include?("blank") %>
                <li> <%= msg.to_s unless msg.blank? %> </li>
              <% end %>
            <% end %>
          </ul> 
        </div>
      </div>
	</div>
  </div>
</div>
<% end %>
