<!-- Researches section -->
<div class="">
  <section id="researches" class="pb-5">
    <div class="">
      <h5 class="section-title h1">Protocolos</h5>
      <div class="row">

        <!-- New Research card -->
        <% if is_admin? %>
          <div class="col-xs-12 col-sm-6 col-md-4">
            <div class="image-no-flip">
              <div class="mainflip">
                <div class="frontside-new">
                  <div class="card">
                    <div class="card-body text-center">
                      <div class="frontside-image img-0"></div>
	                  <h4 class="card-title">&nbsp;</h4>
	                  <p class="card-name">Crear nuevo Protocolo</p>
   	                  <%= link_to new_research_path, class: "btn btn-primary btn-md" do %> <i class="fa fa-plus"></i> <% end %>
  	                </div>
	              </div>
  	            </div>
	          </div>
	        </div>
	      </div>
        <% end %>
	    <!-- -->

       <!--Research card -->
       <% @researches.each do |research| %>
         <div class="col-xs-12 col-sm-6 col-md-4">
           <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
             <div class="mainflip">
               <div class="frontside">
                 <div class="card">
                   <div class="card-body text-center">
                     <div class="frontside-image img-1"></div>
                     <h4 class="card-title"><%= research.code %></h4>
                     <p class="card-name"><%= research.name %></p>
                     <div class="btn btn-primary btn-md"><i class='fa fa-<%= (research.is_private ? "lock" : "unlock") %>'></i></div>
                   </div>
                 </div>
               </div>
               <div class="backside">
                 <div class="card">
                   <div class="card-body text-center mt-4">
                     <h4 class="card-title"><%= research.code %></h4>
                     <p class="card-name"><%= research.name %></p>
                     <% if research.description.nil? || research.description.blank? || research.description == " " %>
                       <p class="card-description" style="min-width:23em;"><%= research.description %></p>
                     <% else %>
                       <p class="card-description"><%= research.description %></p>
                     <% end %>

                     <% if is_research_user?(research) %>
                       <%= form_tag 'enter_research', method: :post, authenticity_token: form_authenticity_token, class: "card-form" do %>
                         <% seq_no = "#{research.seq_no.to_i}" %>
                         <%= hidden_field_tag ('id_' + seq_no), research.id %>
                         <%= hidden_field_tag ('seqno_' + seq_no), seq_no %>
                         <% if research.is_private %>
                           <div class="form-group col-md-12">
			                 <div class="col-xs-8 col-xs-offset-2">
				               <%= password_field_tag ('password_' + seq_no), nil, placeholder: "Ingrese la contraseña", class: "form-control input-md" =%>
			                 </div>
			               </div>
			             <% end %>
  			             <div class="col-xs-offset-0">
				           <%= button_tag(type: :submit, class: "btn btn-md btn-primary") do %>
				             <i class="fa fa-sign-in"></i> Ingresar
				           <% end %>
			             </div>
                       <% end %>
                     <% end %>

                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       <% end %>
       <!-- -->

      </div>
    </div>
</section>
</div>
<!-- Team -->