<% if !@audit.nil? %>
  <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-10">
    <section class="panel panel-special">
      <div class="panel-body">
        <div class="menuacco">
          <div class="accordion">
            <div class="accordion-group" >
              <div class="row rowlistheader">
                <div class="col-xs-1 col-md-1">&nbsp;</div>
                <div class="col-xs-3 col-md-3 text-left audit-title">Campo</div>
                <div class="col-xs-4 col-md-4 text-left audit-title">Valor Actual</div>
                <div class="col-xs-4 col-md-4 text-left audit-title">Valor Antiguo</div>
              </div>
              <% @audit.each_with_index do |audit, idx| %>
                <div class="accordion-heading" id="menubody">
                  <div class="rowlist">
                    <div class="row">
                      <div class="col-xs-1 col-md-1 text-center">
                      	<% if audit.action == 'I' || audit.action == 'U' %>
                      	  <a class="btn btn-warning btn-xs accordion-toggle fa fa-angle-double-down" data-original-title="Submenu" data-placement="top" data-toggle="collapse" data-parent="#allmenu" href="#<%= audit.id %>" onclick="changeAuditIcon(this);"></a>
                      	<% end %>
                      </div>
                      <div class="col-xs-10 col-md-10 text-left audit-heading"><%= "#{audit.get_action} por #{audit.user.full_name} - " %>
                      	<b class="audit-done-at"><%= audit.done_at %></b>
                        <%= javascript_tag do %>
                          var index = <%= idx %>
                          var strDate = $('.audit-done-at')[index].innerHTML;
                          strDate = strDate.replace('UTC', 'Z');
                          var date = moment(strDate);
  						  $('.audit-done-at')[index].innerHTML = date.format("DD/MM/YYYY h:mm:ss a");
                        <% end %>
                      </div>
                    </div>
                    <% parsed_log = JSON.parse(audit.log) %>
                    <div class="accordion-body collapse" id="<%= audit.id %>">  	
                      <div class="accordion-heading">
                        <div class="accordion-body">
                          <div class="accordion-heading">
                          	<% parsed_log.each do |row| %>
                              <div class="rowlist">
                                <div class="row">
                                  <div class="col-xs-1 col-md-1 text-center">&nbsp;</div>
                                  <% if audit.entity == 'candidate' %>
                                    <div class="col-xs-3 col-md-3 text-left audit-content"><%= t('candidate.' + row["column"]) %></div>
                                  <% elsif audit.entity == 'evaluation' %>
                                    <% field = Field.find_by_name(row["column"]) %>
                                    <div class="col-xs-3 col-md-3 text-left audit-content"><%= !field.nil? ? field.label : "<Variable desconocida>" %></div>  
                                  <% end %>
                                  <div class="col-xs-4 col-md-4 text-left audit-content"><%= row['new_value'] %></div>
                                  <div class="col-xs-4 col-md-4 text-left audit-content"><%= row['old_value'] %></div>
                                </div>
                              </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
		      <% end %>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
<% end %>