<%= render 'shared/errors', obj: @candidate %>

<div class="row">
  <div class="col-xs-10 col-xs-offset-0">
    <%= form_for(@candidate, :html => {class: "form-horizontal", role: "form"}) do |el| %>
      <div class="form-group">
        <label class="col-xs-2 control-label">CURP</label>
        <div class="col-xs-4">
          <%= el.text_field :curp, class: "form-control form-style", autofocus: true %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Nombre</label>
        <div class="col-xs-5">
          <%= el.text_field :name, class: "form-control form-style" %>
        </div>
      </div>

      <div class="form-group">
        <label class="col-xs-2 control-label">Apellidos</label>
        <div class="col-xs-4">
          <%= el.text_field :last_name1, class: "form-control form-style" %>
        </div>
        <div class="col-xs-4">
          <%= el.text_field :last_name2, class: "form-control form-style" %>
        </div>
      </div>

      <div class="form-group">
      	<label class="col-xs-3 control-label">Fecha de Nacimiento</label>
      	<div class="col-xs-3">
          <div class='input-group date' id='datepicker'>
            <%= el.text_field :birth_date, class: "form-control", 
                value: (@candidate.birth_date.strftime("%d/%m/%Y") unless @candidate.birth_date.blank?) %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-offset-6 col-xs-10">
          <%= el.submit "Guardar", class: "btn btn-primary btn-form" %>
          <%= link_to "Atras", candidates_path, class: "btn btn-primary btn-form" %>
        </div>
      </div>
    <% end %>
  </div>
</div>