<%= render 'shared/errors', obj: @candidate %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
      <%= form_for(@candidate, :html => {role: "form"}) do |el| %>
      <%= hidden_field_tag 'is-new-candidate', @candidate.new_record? %>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <span class="fa fa-file panel-form-icon"></span>Datos de Registro
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-1 col-md-1">
                <label>Folio</label>
                <div class="form-group">
                  <%= el.text_field :seq_no, value: (@candidate.get_seqno unless @candidate.get_seqno == 0), class: "form-control form-style", disabled: true %>
                </div>
              </div>
             <div class="col-xs-4 col-md-4">
                <label class="col-md-4">CURP</label>
                <div class="form-group">
                  <%= el.text_field :curp, class: "form-control form-style", autofocus: true, onfocus: 'candidateFormLogic(); getCombosData();' %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <label>Nombre</label>
                <div class="form-group">
                  <%= el.text_field :name, class: "form-control form-style" %>
                </div>
              </div>
             <div class="col-xs-3 col-md-3">
                <label>Apellidos</label>
                <div class="form-group">
                  <%= el.text_field :last_name1, class: "form-control form-style", placeholder: 'Materno' %>
                </div>
              </div>
             <div class="col-xs-3 col-md-3">
                <label>&nbsp;</label>
                <div class="form-group">
                  <%= el.text_field :last_name2, class: "form-control form-style", placeholder: 'Paterno' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <span class="fa fa-globe panel-form-icon"></span>Datos Demográficos
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-2 col-md-2">
                <label>Edad</label>
                <%= el.number_field :age, class: "form-control form-style" %>
              </div>
              <div class="col-xs-2 col-md-2">
                <label>Sexo</label>
                <%= el.select :gender, ['Hombre', 'Mujer'], {:include_blank => true}, {:class =>'form-control form-style'} %>
              </div>
              <div class="col-xs-3 col-md-3">
                <label>Fecha de Evaluación</label>
                <div class='input-group date' id='datepicker2'>
                  <%= el.text_field :evaluation_date, class: "form-control form-style", 
                                                      value: (@candidate.evaluation_date.strftime("%d/%m/%Y") unless @candidate.evaluation_date.blank?) %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="spacer-30"></div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Fecha de Nacimiento</label>
                <div class='input-group date' id='datepicker1'>
                  <%= el.text_field :birth_date, class: "form-control form-style", 
                                                 value: (@candidate.birth_date.strftime("%d/%m/%Y") unless @candidate.birth_date.blank?) %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
              	<label>País</label>
              	<em class="fa fa-spinner fa-spin loading-indicator birth-country-loading" style="display:none" ></em> 
                <%= hidden_field_tag 'birth-country', @candidate.birth_country %>
                <%= el.select :birth_country, [], {:include_blank => true},
                                                  class: 'form-control candidate-bcountry-field' %>
              </div>
              <div class="col-xs-3 col-md-3">
              	<label>Estado</label>
              	<em class="fa fa-spinner fa-spin loading-indicator birth-state-loading" style="display:none" ></em>
              	<%= hidden_field_tag 'birth-state', @candidate.birth_state %>
                <%= el.select :birth_state, [], {:include_blank => true},
                                                class: 'form-control candidate-bstate-field' %>            	
              </div>
              <div class="col-xs-3 col-md-3">
              	<label>Ciudad</label>
              	<em class="fa fa-spinner fa-spin loading-indicator birth-city-loading" style="display:none" ></em>
              	<%= hidden_field_tag 'birth-city', @candidate.birth_city %>
                <%= el.select :birth_city, [], {:include_blank => true},
                                               class: 'form-control candidate-bcity-field' %>            	
              </div>
            </div>
            <div class="spacer-30"></div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Teléfono</label>
                <%= el.text_field :phone, class: "form-control form-style" %>
              </div>
              <div class="col-xs-3 col-md-3">
                <label>Celular</label>
                <%= el.text_field :cell_phone, class: "form-control form-style" %>
              </div>
              <div class="col-xs-4 col-md-4">
                <label>Email</label>
                <%= el.text_field :email, class: "form-control form-style" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Estado Civil</label>
                <%= el.select :marital_status, ['Soltero', 'Casado', 'Viudo', 'Divorciado'], 
                                               {:include_blank => true}, {:class =>'form-control form-style'} %>
              </div>
              <div class="col-xs-3 col-md-3">
                <label>Ocupación</label>
                <%= el.select :occupation, ['Empleado', 'Otro'], 
                                           {:include_blank => true}, {:class =>'form-control form-style candidate-occupation-field'} %>
              </div>
              <div class="col-xs-5 col-md-5">
                <label>&nbsp;</label>
                <%= el.text_field :occupation_other, class: "form-control form-style candidate-other-occupation-field", placeholder: "Especifique" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Escolaridad</label>
                <%= el.select :scolarship, ['Ninguna', 'Primaria', 'Secundaria', 'Preparatoria', 'Licenciatura', 'Maestria', 'Doctorado'], 
                                           {:include_blank => true}, {:class =>'form-control form-style'} %>
              </div>
            </div>
            <div class="spacer-30"></div>
            <div class="row">
              <div class="col-xs-5 col-md-5">
                <label>Calle</label>
                <%= el.text_field :address_main_street, class: "form-control form-style" %>            	
              </div>
              <div class="col-xs-2 col-md-2">
                <label>No. Interior</label>
                <%= el.text_field :address_street_no1, class: "form-control form-style" %>
              </div>
              <div class="col-xs-2 col-md-2">
                <label>No. Exterior</label>
                <%= el.text_field :address_street_no2, class: "form-control form-style" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-4 col-md-4">
                <label>Cruza con</label>
                <%= el.text_field :address_street1, class: "form-control form-style" %>
              </div>
              <div class="col-xs-4 col-md-4">
              	<label>&nbsp;</label>
                <%= el.text_field :address_street2, class: "form-control form-style" %>
              </div>
              <div class="col-xs-3 col-md-3">
                <label>Colonia</label>
                <%= el.text_field :address_region, class: "form-control form-style" %>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
              	<label>País</label>
                <%= el.text_field :address_country, class: 'form-control' %>
              </div>
              <div class="col-xs-3 col-md-3">
              	<label>Estado</label>
                <%= el.text_field :address_state, class: 'form-control' %>              	
              </div>
              <div class="col-xs-3 col-md-3">
              	<label>Ciudad</label>
                <%= el.text_field :address_city, class: 'form-control' %>              	
              </div>
            </div>
            <div class="spacer-30"></div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
    	        <label>Fecha de Diagnóstico</label>
                <div class='input-group date' id='datepicker3'>
                  <%= el.text_field :diagnosis_date, class: "form-control form-style", 
                                                     value: (@candidate.diagnosis_date.strftime("%d/%m/%Y") unless @candidate.diagnosis_date.blank?) %>
                  <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                  </span>
                </div>
              </div>
              <div class="col-xs-8 col-md-8">
                <label>Diagnóstico</label>
                <%= el.text_field :diagnosis, class: "form-control form-style" %>
              </div>
            </div>       
            <div class="spacer-50"></div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="well well-sm well-primary">
                  <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10 form-well">
                    <%= button_tag(:class => "btn btn-primary btn-sm btn-form") do %>
                      <em class="glyphicon glyphicon-floppy-disk"></em> Guardar 
                    <% end %>
                    <%= link_to candidates_path, class: "btn btn-primary btn-sm btn-form" do %>
                      <em class="fa fa-undo"></em> Atrás 
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <% if current_user.admin? && !@candidate.new_record? %>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <span class="fa fa-eye panel-form-icon"></span> Auditoría
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel">
            <div class="panel-body">
              <%= render 'shared/audit', obj: @candidate %>
            </div>
          </div>
        </div>
      <% end %>

      <% end %>
    </div>
  </div>
</div>