  <table class="table table-bordered table-hover">
    <thead>
      <tr style="width:100%">
        <th class="text-center" style="width:5%"> No. </th>
        <th class="text-center" style="width:13%"> Status </th>
	    <th class="text-center" style="width:11%"> Fecha </th>
	    <th class="text-center" style="width:11%"> Hora </th>
	    <th class="text-center" style="width:45%"> Notas </th>
	    <th class="text-center" style="width:15%"> </th>
      </tr>
	</thead>
    <tbody>

      <% if !@appts.nil? %>
        <% @appts.each do |appt| %>
          <tr>
      	    <td class="text-center"><%= appt.appt_no.blank? ? "" : appt.appt_no.to_i %></td>
      	    <td class="text-center"><%= appt.status %></td>
      	    <td class="text-center"><%= appt.appt_date.strftime("%d/%m/%Y") %></td>
      	    <td class="text-center"><%= appt.appt_time.strftime("%I:%M %p") %></td>
      	    <td><%= appt.notes %></td>
      	    <td class="text-center">
              <%= link_to see_evaluation_path(id: appt, research_id: @current_research, comesFrom: "patient"), class: "btn btn-default btn-action" do %> <em class="fa fa-clipboard"></em> <% end %>
              <%= link_to edit_appointment_path(appt, research_id: @current_research, comesFrom: "patient"), class: "btn btn-default btn-action" do %> <em class="glyphicon glyphicon-pencil"></em> <% end %>
              <%= link_to delete_patient_appointment_path(record: appt),
                                                          data: {confirm: "¿Esta seguro que quiere eliminar esta Visita?"},
                                                          class: "btn btn-default btn-action",
                                                          remote: true do %> <em class="glyphicon glyphicon-trash"></em> <% end %>
      	    </td>
          </tr>
        <% end %>
      <% end %>

	</tbody>
  </table>
