<div class="">
  <h3 class="screen-header">Pacientes del Protocolo</h3>
  <p class="spacer-30"></p>

  <div class="col-md-12 col-md-offset-0">
    <div class="panel panel-default panel-table">
      <div class="panel-header">
        <div class="row">
          <div class="col col-xs-6">
            <h3 class="panel-title"></h3>
          </div>
          <div class="col col-xs-6 text-right">
            <%= link_to "Nuevo", new_patient_path(research_id: @current_research), class: "btn btn-sm btn-primary btn-create" %>
          </div>
        </div>
      </div>
      
      <div class="panel-body">
        <table class="table table-striped table-bordered table-list patients-table">
          <thead>
            <tr>
              <th class="col col-xs-2 col-header">País</th>
              <th class="col col-xs-1 col-header">Registro Hospital</th>
              <th class="col col-xs-2 col-header">Nombre</th>
              <th class="col col-xs-2 col-header">CURP</th>
              <th class="col col-xs-1 col-header">Celular</th>
              <th class="col col-xs-1 col-header">Fecha Nacimiento</th>
              <th class="col col-xs-2 col-header"></th>
            </tr>
          </thead>
          <tbody>
            <% @patients.each do |patient| %>
              <tr>
              	<td class="col col-xs-2 col-data-left"> <%= Geoname.get_name(patient.candidate.birth_country) %> </td>
              	<td class="col col-xs-1 col-data-left"> <%= patient.candidate.hospital_record %> </td>
                <td class="col col-xs-2 col-data-left"> <%= "#{patient.candidate.name} #{patient.candidate.get_last_name}" %> </td>
                <td class="col col-xs-2 col-data-left"> <%= patient.candidate.curp %> </td>
                <td class="col col-xs-1 col-data-center"> <%= patient.candidate.cell_phone %> </td>
                <td class="col col-xs-1 col-data-center"> <%= patient.candidate.birth_date.strftime("%d/%m/%Y") unless patient.candidate.birth_date.blank? %> </td>
                <td align="center">
                  <%= link_to edit_patient_path(patient, research_id: @current_research), class: "btn btn-default btn-action" do %> <em class="glyphicon glyphicon-pencil"></em> <% end %>
                  <%= link_to patient_path(patient, research_id: @current_research), data: {confirm: "¿Esta seguro que quiere eliminar este Paciente?"},
                                               class: "btn btn-default btn-action",
                                               method: :delete do %> <em class="glyphicon glyphicon-trash"></em> <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="panel-footer">
        <div class="row">
          <% if false %>
            <div class="col col-xs-4">Page 1 of 5
            </div>
            <div class="col col-xs-8">
              <ul class="pagination hidden-xs pull-right">
                <li><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
              </ul>
              <ul class="pagination visible-xs pull-right">
                <li><a href="#">«</a></li>
                <li><a href="#">»</a></li>
              </ul>
            </div>
         <% end %>
       </div>
     </div> 
     
    </div>
  </div>
</div>