<div class="container col-xs-12">
  <div class="row">
    <div class="col-xs-8 col-md-8">
      <div class="panel with-nav-tabs panel-default">
	    <div class="panel-heading">
	      <ul class="nav nav-tabs tabs-scrollable">
	        <% if !@master_data.nil? && !@master_data.tabs.nil? %>
	          <% @master_data.tabs.each_with_index do |tab, idx| %>
	            <li class="<%= idx == 0 ? 'active' : '' %>"><a href="#tab<%= idx.to_s %>" data-toggle="tab"> <%= tab.name %></a></li>
              <% end %>
            <% end %>
	      </ul>
	    </div>
	    <div class="panel-body panel-tabs-setup">
          <div class="tab-content">
            <% if !@master_data.nil? && !@master_data.tabs.nil? %>
	          <% @master_data.tabs.each_with_index do |tab, idx| %>
                <div class="tab-pane fade <%= idx == 0 ? 'in active' : '' %>" id="tab<%= idx.to_s %>">
                  <div class="panel-heading">
                  	<h4 class="panel-titlee">
                      <div style="position: relative; top: -95px; right: -25px">

                        <div class="row tab-hidden-actions tab_hidden_actions_<%= "#{idx}" %> ">
                          <%= form_tag update_research_tab_path, method: :get, remote: true, class: "form-horizontal pull-right", id: "tab_form_#{idx}" do %>
                            <div class="col-xs-12">
                              <%= link_to "javascript: tabActionsLogic(#{idx}, false)", title: "Deshacer cambios", id: "tab_undo_#{idx}" do %>
                                <i class="btn btn-default pull-right">
                                  <i class="glyphicon glyphicon-repeat"></i>
                                </i>
                              <% end %>                            	
                              <%= button_tag(type: :submit, class: "btn btn-default pull-right", title: 'Guardar Cambios') do %>
  			                    <i class="glyphicon glyphicon-ok"></i>
			                  <% end %>
                              <%= hidden_field_tag "tab_idx_#{idx}", idx %>
                              <%= hidden_field_tag "tab_id_#{idx}", tab.id %>
                              <%= hidden_field_tag "tab_research_#{idx}", tab.research.id %>
                              <div class="col-xs-7">
                                <%= text_field_tag("tab_name_#{idx}", nil, class: "form-control form-style input-sm", placeholder: "Nombre") %>
                              </div>
                              <div class="col-xs-3">
                                <%= text_field_tag("tab_seq_#{idx}", nil, class: "form-control form-style input-sm", placeholder: "Posición") %>
                              </div>
                            </div>
			              <% end %>
			            </div>

                       <div class='row tab-visible-actions tab_visible_actions_<%= "#{idx}" %>'>
                         <div class="col-xs-12">
                            <%= link_to delete_research_tab_path(research_id: tab.research.id, tab_id: tab.id), 
                                       remote: true,
                                       data: {confirm: "¿Esta seguro que quiere eliminar esta solapa? Tambien se eliminarán todos los campos contenidos en ella."},
                                       title: "Eliminar Solapa" do %>
                             <i class="btn btn-default pull-right">
                               <i class="glyphicon glyphicon-trash"></i>
                             </i>
                           <% end %>
                           <%= link_to "javascript: tabActionsLogic(#{idx}, true)", title: "Editar Solapa", id: "tab_edit_#{idx}" do %>
                             <i class="btn btn-default pull-right">
                               <i class="glyphicon glyphicon-pencil"></i>
                             </i>
                           <% end %>
                         </div>
                       </div>
                  	  </div>

                  	</h4>
                  </div>
                  <div class="container col-xs-12" style="position: relative; top: -120px;">
                  	<%= form_tag add_fields_to_tab_path, method: :get, remote: true, class: "tab_fields_form", id: "tab_fields_form_#{idx}" do %>
                      <div class="row sortable-dataset tab_fields_table scrollable fixed-height-250" id='research_fields_table_<%= "#{idx}" %>'>
                        <% tab.get_fields.each do |rf| %>
                          <% if rf.field.blank? %>
                            <div class="list-group-item col-md-12 tab-label tab-subtitle"> <%= hidden_field_tag "field_#{rf.id}", rf.id %> <%= "#{rf.subtitle_label}" %> </div>
                          <% else %>
                            <div class="list-group-item col-md-4 tab-field row-triplet"> <%= hidden_field_tag "field_#{rf.field.id}", rf.field.id %> <%= "#{rf.field.full_label}" %> </div>
                          <% end %>
                        <% end %>
                      </div>

                      <div class="container col-xs-12" style="position: relative; bottom: -120px; right: -25px">
                        <%= hidden_field_tag "tab_field_idx_#{idx}", idx %>
                        <%= hidden_field_tag "tab_field_id_#{idx}", tab.id %>
                        <%= hidden_field_tag "tab_field_research_#{idx}", tab.research.id %>
                        <%= button_tag(type: :submit, class: "btn btn-sm btn-primary pull-right") do %>
                          <i class="glyphicon glyphicon-floppy-disk"></i> Guardar
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                </div>
	          <% end %>
	        <% end %>
          </div>
        </div>
	  </div>
    </div>
    
    
    <div class="col-xs-4 col-md-4">
      <div class="panel with-nav-tabs panel-default">
	    <div class="panel-heading">
	      <ul class="nav nav-tabs tabs-scrollable">
            <li class="active"><a href="#available_fields" data-toggle="tab"> Variables </a></li>
            <li class="inactive"><a href="#available_labels" data-toggle="tab"> Subtitulos </a></li>
	      </ul>
	    </div>
        <div class="panel-body panel-tabs-setup">
          <div class="tab-content">
            <div class="tab-pane fade in active" id="available_fields">
              <div class="panel-heading">
                <div style="position: relative; top: -65px;">
                  <% if !@master_data.nil? && !@master_data.fields.nil? %>
                    <div class="row">
                    </div>
  	                <div class="row">
                      <div class="col-xs-12 col-md-12">
            	        <div id="available_fields_list" class="list-group sortable-dataset scrollable fixed-height-400">
	                      <% @master_data.fields.each_with_index do |field| %>
    	                    <div class="list-group-item tab-field"> <%= hidden_field_tag "field_#{field.id}", field.id %> <%= "#{field.full_label}" %> </div>
	                      <% end %>
    	                </div>
	                  </div>
    	            </div>
        	      <% end %>
        	    </div>
              </div>
            </div>

            <div class="tab-pane fade in" id="available_labels">
              <div class="panel-heading">
                <h4 class="panel-titlee">
                  <div class="row" style="position: relative; top: -75px; right: -30px">
                    <div class="col-xs-12">
                      <%= form_tag add_label_to_research_path, method: :get, remote: true, class: "col-xs-12 form-horizontal pull-right" do %>
                        <div class="col-xs-12">
                          <%= button_tag(type: :submit, class: "btn btn-default pull-right", title: 'Guardar Cambios') do %>
                            <i class="fa fa-plus"></i>
			              <% end %>
                          <%= hidden_field_tag "label_research_id", @research.id %>
                          <div class="col-xs-9">
                            <%= text_field_tag("label_name", nil, class: "form-control form-style input-sm", placeholder: "Nombre") %>
                          </div>
                        </div>
			          <% end %>
                    </div>
                  </div>
                </h4>
              </div>
              <div class="container col-xs-12" style="position: relative; top: -80px;">
                <% if !@master_data.nil? && !@master_data.labels.nil? %>
                  <div class="row">
                  </div>
  	              <div class="row">
                    <div class="col-xs-12 col-md-12">
            	      <div id="available_labels_list" class="list-group sortable-dataset scrollable fixed-height-310">
	                    <% @master_data.labels.each_with_index do |label| %>
    	                  <div class="list-group-item tab-label"> <%= hidden_field_tag "field_#{label.id}", label.id %> <%= "#{label.subtitle_label}" %> </div>
	                    <% end %>
    	              </div>
	                </div>
    	          </div>
        	    <% end %>
              </div>
            </div>
            
          </div>
        </div>
	  </div>
    </div>
    
    
  </div>
</div>
