<div class="container col-xs-12">
  <div class="row">
    <div class="col-xs-8 col-md-8">
      <div class="panel with-nav-tabs panel-default">
	    <div class="panel-heading">
	      <ul class="nav nav-tabs">
	        <% if !@master_data.nil? && !@master_data.tabs.nil? %>
	          <% @master_data.tabs.each_with_index do |tab, idx| %>
	            <li class="<%= idx == 0 ? 'active' : '' %>"><a href="#tab<%= idx.to_s %>" data-toggle="tab"> <%= tab.name %></a></li>
              <% end %>
            <% end %>
	      </ul>
	    </div>
	    <div class="panel-body">
          <div class="tab-content">
            <% if !@master_data.nil? && !@master_data.tabs.nil? %>
	          <% @master_data.tabs.each_with_index do |tab, idx| %>
                <div class="tab-pane fade <%= idx == 0 ? 'in active' : '' %>" id="tab<%= idx.to_s %>">
                  <div class= "panel-heading">
                  	<h4 class=="panel-title">
                      <div style="position: relative; top: -95px; right: -25px">

                        <div class="row tab-hidden-actions tab_hidden_actions_<%= "#{idx}" %> ">
                          <%= form_tag update_research_tab_path, method: :get, remote: true, class: "form-horizontal pull-right", id: "tab_form_#{idx}" do %>
                            <div class="col-xs-12">
                              <%= link_to "javascript: tabActionsLogic(#{idx}, false)", title: "Deshacer cambios", id: "tab_undo_#{idx}" do %>
                                <i class="btn btn-default btn-action pull-right">
                                  <i class="glyphicon glyphicon-repeat"></i>
                                </i>
                              <% end %>                            	
                              <%= button_tag(type: :submit, class: "btn btn-default btn-action pull-right", title: 'Guardar Cambios') do %>
  			                    <i class="glyphicon glyphicon-ok"></i>
			                  <% end %>
                              <%= hidden_field_tag "tab_idx_#{idx}", idx %>
                              <%= hidden_field_tag "tab_id_#{idx}", tab.id %>
                              <%= hidden_field_tag "tab_research_#{idx}", tab.research.id %>
                              <%= text_field_tag("tab_name_#{idx}", nil, class: "form-control form-style input-sm") %>
                            </div>
			              <% end %>
			            </div>

                       <div class='row tab-visible-actions tab_visible_actions_<%= "#{idx}" %>'>
                       	<div class="col-xs-12">
                         <%= link_to delete_research_tab_path(research_id: tab.research.id, tab_id: tab.id), 
                                     remote: true,
                                     data: {confirm: "¿Esta seguro que quiere eliminar esta solapa? Tambien se eliminarán todos los campos contenidos en ella."},
                                     title: "Eliminar Solapa" do %>
                           <i class="btn btn-default btn-action pull-right">
                             <i class="glyphicon glyphicon-trash"></i>
                           </i>
                         <% end %>
                         <%= link_to "javascript: tabActionsLogic(#{idx}, true)", title: "Editar Solapa", id: "tab_edit_#{idx}" do %>
                           <i class="btn btn-default btn-action pull-right">
                             <i class="glyphicon glyphicon-pencil"></i>
                           </i>
                         <% end %>
                       </div>
                       </div>
                  	  </div>
                  	  
                  	</h4>
                  </div>
                  <div class="container col-xs-12" style="position: relative; top: -120px;">
                    <div class="row sortable-dataset" id="research_fields_table">
                      <% Field.all.each do |field| %> <!-- TODO: change it for: @research.fields -->
                        <div class="list-group-item col-md-4" id='<%= "#{field.id}" %>'><%= "#{field.label}" %></div>
                      <% end %>
                    </div>
                  </div>
                </div>
	          <% end %>
	        <% end %>
          </div>
        </div>
	  </div>
    </div>
    <div class="col-xs-4 col-md-4">
      <div class="panel with-nav-tabs panel-default">
	    <div class="panel-heading">
	    </div>
        <div class="panel-body">
          <% if !@master_data.nil? && !@master_data.fields.nil? %>
            <div class="row">
            </div>
            <div class="row">
          	  <div class="col-xs-12 col-md-12">
                <div id="available_fields_list" class="list-group sortable-dataset">
                  <% @master_data.fields.each do |field| %>
                    <div class="list-group-item" id='<%= "#{field.id}" %>'><%= "#{field.label}" %></div>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
	  </div>
    </div>
  </div>
</div>
