<%= render 'shared/errors', obj: @field %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <%= form_for(@field, :html => {role: "form", id: "field_form"}) do |el| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="none" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
              <span class="fa fa-id-card panel-form-icon"></span>Datos B치sicos
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Etiqueta (Nombre externo)</label>
                <div class="form-group">
                  <%= el.text_field :label, class: "form-control form-style", autofocus: true, onfocus: 'fieldFormLogic();' %>
                </div>
              </div>
              <div class="col-xs-4 col-md-4">
                <label>Campo (Nombre Interno)</label>
                <div class="form-group">
                  <%= el.text_field :name, class: "form-control form-style" %>
                </div>
              </div>
              <div class="col-xs-5 col-md-5">
                <label>Descripci칩n</label>
                <div class="form-group">
                  <%= el.text_area :description, rows: 4, class: "form-control form-style" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Tipo</label>
                <div class="form-group">
                  <%= el.select :field_type, Field.fields_map.collect {|t| [t[:value], t[:id]]}, {include_blank: true}, class: "form-control form-style field-type" %>
                </div>
              </div>
              <div class="col-xs-3 col-md-3 field-validation-section">
                <label>Validaci칩n</label>
                <div class="form-group">
                  <%= el.select :validation_type, Field.validations_map.collect {|t| [t[:value], t[:id]]}, {include_blank: true}, class: "form-control form-style" %>
                </div>
              </div>
            </div>

            <div class="spacer-10"></div>
            <%= el.hidden_field :values %>
			<% if !@field.values.blank? %>
			  <div clas="field-values-section">
                <div class="row">
                  <div class="col-xs-3 col-md-3">
                  	<label>Opciones disponibles</label>
                  </div>
                  <div class="col-xs-1 col-md-1">
                  	<div class="btn btn-primary btn-xs"><i class='fa fa-plus'></i></div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-10 col-md-10">
                      <% @field.values.json.each_with_index do |val, idx| %>
                        <div class="row">
                          <div class="col-xs-2 col-md-2">
                            <%= text_field_tag "id_#{idx}", val.id, class: "form-control form-style _ids" %>
                          </div>
                          <div class="col-xs-4 col-md-4">
                            <%= text_field_tag "val_#{idx}", val.value, class: "form-control form-style _values" %>
                          </div>
                          <div class="col-xs-1 col-md-1">
                            <div class="btn btn-default btn-action"><em class="glyphicon glyphicon-trash"></em></div>
                          </div>
                        </div>
                      <% end %>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="spacer-50"></div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="well well-sm well-primary">
                  <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10 form-well">
                    <%= button_tag(:class => "btn btn-primary btn-sm btn-form field-values-submit-btn") do %>
                      <em class="glyphicon glyphicon-floppy-disk"></em> Guardar 
                    <% end %>
                    <%= link_to fields_path, class: "btn btn-primary btn-sm btn-form" do %>
                      <em class="fa fa-undo"></em> Atr치s 
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>