<%= render 'shared/errors', obj: @field %>

<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <%= form_for(@field, :html => {role: "form", id: "field_form"}) do |el| %>
      <div class="panel panel-default">
        <div class="panel-heading" role="tab">
          <h4 class="panel-title">
            <a data-toggle="none" data-parent="#accordion" aria-expanded="true" aria-controls="collapseOne">
              <span class="fa fa-id-card panel-form-icon"></span>Datos Básicos
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel">
          <div class="panel-body">
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Etiqueta (Nombre externo)</label>
                <div class="form-group">
                  <%= el.text_field :label, class: "form-control form-style", autofocus: true, onfocus: 'fieldFormLogic();' %>
                </div>
              </div>
              <div class="col-xs-4 col-md-4">
                <label>Campo (Nombre Interno)</label>
                <div class="form-group">
                  <%= el.text_field :name, class: "form-control form-style" %>
                </div>
              </div>
              <div class="col-xs-5 col-md-5">
                <label>Descripción</label>
                <div class="form-group">
                  <%= el.text_area :description, rows: 4, class: "form-control form-style" %>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-3 col-md-3">
                <label>Tipo</label>
                <div class="form-group">
                  <%= el.select :field_type, Field.fields_map.collect {|t| [t[:value], t[:id]]}, {include_blank: true}, class: "form-control form-style field-type" %>
                </div>
              </div>
              <div class="col-xs-3 col-md-3 field-validation-section">
                <label>Validación</label>
                <div class="form-group">
                  <%= el.select :validation_type, Field.validations_map.collect {|t| [t[:value], t[:id]]}, {include_blank: true}, class: "form-control form-style" %>
                </div>
              </div>
            </div>

            <div class="spacer-20"></div>
            <%= el.hidden_field :values %>

			<% if !@field.values.blank? %>
			  <div class="field-values-section">
                <div class="row">
                  <div class="col-xs-3 col-md-3">
                  	<label>Opciones disponibles</label>
                  </div>
                  <div class="col-xs-1 col-md-1">
                  	<%= link_to "", :class => "btn btn-primary btn-xs", :onclick => "addFieldOption(event);"  do %>
                  	  <i class='fa fa-plus'></i> Agregar opción
                  	<% end %>
                  </div>
                </div>
                
                <div class="spacer-10"></div>
                <div class="row">
                  <div class="table-responsive col-md-8 col-md-8">
                    <table class="grid table table-bordered table-sortable" id="field_options_table">
                      <thead>
                        <tr>
                          <th class="col col-xs-1"></th>
                  	      <th class="col col-xs-2">ID (Valor interno)</th>
                  	      <th class="col col-xs-4">Etiqueta</th>
                        </tr>
                      </thead>
                      <tbody>
                      	<% field_opt_count = 0 %>
                        <% @field.values.json.each_with_index do |val, idx| %>
                          <tr id='field_option_<%= "#{idx}" %>' class="field_options">
                            <td class="col col-xs-1" align="center"><label></label></td>
                            <td class="col col-xs-2"><%= text_field_tag "id_#{idx}", val.id, class: "form-control form-style _ids" %></td>
                            <td class="col col-xs-4"><%= text_field_tag "val_#{idx}", val.value, class: "form-control form-style _values" %></td>
                            <td class="col col-xs-1" align="center">
                              <%= link_to "", :class => "btn btn-default btn-action", :onclick => "removeFieldOption(event, #{idx});" do %>
                                <i class='glyphicon glyphicon-trash'></i>
                              <% end %>
                            </td>
                          </tr>
                          <% field_opt_count += 1 %>
                        <% end %>
                        <tr id='field_option_<%= "#{field_opt_count}" %>' class="field_options">
            	      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="spacer-50"></div>
            <div class="row">
              <div class="col-xs-12 col-md-12 col-lg-12">
                <div class="well well-sm well-primary">
                  <div class="col-xs-offset-10 col-md-offset-10 col-lg-offset-10 form-well">
                    <%= button_tag(:class => "btn btn-primary btn-sm btn-form field-values-submit-btn") do %>
                      <em class="glyphicon glyphicon-floppy-disk"></em> Guardar 
                    <% end %>
                    <%= link_to fields_path, class: "btn btn-primary btn-sm btn-form" do %>
                      <em class="fa fa-undo"></em> Atrás 
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</div>