<% if logged_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "IIRSME", home_path, class: "navbar-brand-title" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="navbar-item-title"><%= link_to user_path(current_user) do %>
          <span class="fa fa-user"></span> <%= current_user.say_hello %> <% end %>
        </li>
        <li class="navbar-item-title"><%= link_to '#' do %><span class="fa fa-question-circle"></span> Ayuda <% end %></li>
        <li class="navbar-item-empty"></li>
        <li class="navbar-item-title"><%= link_to logout_path, data: {confirm: "¿Esta seguro que quiere salir del sistema?"}, 
                                     method: :delete do %><span class="fa fa-sign-out"></span> Salir <% end %></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-gradient">
      <ul class="nav nav-sidebar">
        <li class="<%= current_view === 'home' ? 'active' : '' %> menu-item"><%= link_to home_path do %><span class="glyphicon glyphicon-home"></span> Inicio <% end %></li>
        <% if current_user.admin? %>
          <li class="<%= current_view === 'roles' ? 'active' : '' %> menu-item"><%= link_to roles_path do %> <span class="fa fa-shield"></span> Roles <% end %></li>
          <li class="<%= current_view === 'users' ? 'active' : '' %> menu-item"><%= link_to users_path do %> <span class="fa fa-male"></span> Usuarios <% end %></li>
        <% end %>
        <li class="<%= current_view === 'candidates' ? 'active' : '' %> menu-item"><%= link_to candidates_path do %> <span class="fa fa-users"></span> Candidatos <% end %></li>
        <li class="menu-item"><a href="#"><span class="fa fa-database"></span> Base de Datos </a></li>
      </ul>

      <% if @current_research %>
        <ul class="nav nav-sidebar">
          <%= link_to research_path(@current_research), class: "nav-sidebar-title" do %><%= @current_research.code %><% end %>
          <% if @current_research.owner?(current_user) %>
            <li class="<%= current_view === 'research-setup' ? 'active' : '' %> menu-item"><%= link_to edit_research_path(@current_research) do %> <span class="glyphicon glyphicon-cog"></span> Configuración <% end %></li>
          <% end %>
          <li class="menu-item"><a href="#"><span class="fa fa-heartbeat"></span> Pacientes </a></li>
          <li class="menu-item"><a href="#"><span class="fa fa-calendar"></span> Visitas </a></li>
          <li class="menu-item"><a href="#"><span class="fa fa-file"></span> Reporte </a></li>
        </ul>
      <% end %>

      <ul class="nav nav-sidebar">
      	<% if current_user.admin? %>
          <li class="menu-item"><a href="#"><span class="fa fa-wrench"></span> Ajustes </a></li>
        <% end %>
        <li class="<%= current_view === 'user-account' ? 'active' : '' %> menu-item"><%= link_to user_path(current_user) do %> <span class="fa fa-user-circle"></span> Mi cuenta <% end %></li>
      </ul>
    </div>
    
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<!-- CONTENT HERE -->

<% end %>
