<% if logged_in? %>
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header ">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
      </button>
      <!-- <%= link_to "IIRSME", home_path, class: "navbar-brand-title" %> -->
      <% if !@current_research %>
        <%= image_tag "bar-image.jpg", class: "navbar-brand-image" %>
      <% else %>
        <%= image_tag "bar-image.jpg", class: "navbar-brand-image" %>
      <% end %>
    </div>

    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      	<% if is_admin? %>
      	  <li class="dropdown">
            <a href="#" class="dropdown-toggle navbar-item-title" data-toggle="dropdown"> Crear nuevo &nbsp; <b class="fa fa-angle-down"></b></a>
            <ul class="dropdown-menu">
              <li class="navbar-item-title"><%= link_to new_role_path do %>
                <span class="fa fa-shield"></span> Rol <% end %>
              </li>
              <li class="navbar-item-title"><%= link_to new_user_path do %>
                <span class="fa fa-male"></span> Usuario <% end %>
              </li>
              <li class="navbar-item-title"><%= link_to new_candidate_path do %>
                <span class="fa fa-users"></span> Candidato <% end %>
              </li>
              <li class="navbar-item-title"><%= link_to new_field_path do %>
                <span class="fa fa-th-list"></span> Variable <% end %>
              </li>
            </ul>
          </li>
        <% end %>
        <li class="navbar-item-title"><%= link_to '#' do %><span class="fa fa-question-circle"></span> Ayuda <% end %></li>
        <li class="navbar-item-empty"></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle navbar-item-title" data-toggle="dropdown"> <span class="fa fa-user"></span> <%= current_user.say_hello %> <b class="fa fa-angle-down"></b></a>
          <ul class="dropdown-menu">
            <li class="navbar-item-title"><%= link_to user_path(current_user) do %>
              <span class="fa fa-user"></span> Mi cuenta <% end %>
            </li>
            <li class="navbar-item-title"><%= link_to '#' do %>
              <span class="fa fa-cog"></span> Configuración <% end %>
            </li>
            <li><i class="dropdown-divider"></i></li>
            <li class="navbar-item-title"><%= link_to logout_path, data: {confirm: "¿Esta seguro que quiere salir del sistema?"}, 
                                                                   method: :delete do %><span class="fa fa-sign-out"></span> Salir <% end %></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar sidebar-gradient">
      <ul class="nav nav-sidebar">
        <li class="<%= current_view === 'home' ? 'active' : '' %> menu-item"><%= link_to home_path do %><span class="glyphicon glyphicon-home"></span> Inicio <% end %></li>      
        <% if is_admin? %>
          <li class="<%= current_view === 'roles' ? 'active' : '' %> menu-item"><%= link_to roles_path do %> <span class="fa fa-shield"></span> Roles <% end %></li>
          <li class="<%= current_view === 'users' ? 'active' : '' %> menu-item"><%= link_to users_path do %> <span class="fa fa-male"></span> Usuarios <% end %></li>
        <% end %>
        <li class="<%= current_view === 'candidates' ? 'active' : '' %> menu-item"><%= link_to candidates_path do %> <span class="fa fa-users"></span> Candidatos <% end %></li>
        <% if is_admin? %>
          <li class="<%= current_view === 'fields' ? 'active' : '' %> menu-item"><%= link_to fields_path do %> <span class="fa fa-th-list"></span> Variables <% end %></li>
        <% end %>
        <li class="menu-item"><a href="#"><span class="fa fa-database"></span> Base de Datos </a></li>
      </ul>

      <% if @current_research %>
        <ul class="nav nav-sidebar">
          <%= link_to research_path(@current_research), class: "nav-sidebar-title" do %><%= @current_research.code %><% end %>
          <% if @current_research.owner?(@current_research, current_user) || is_super_admin? %>
            <li class="<%= current_view === 'research-setup' ? 'active' : '' %> menu-item"><%= link_to edit_research_path(@current_research) do %> <span class="glyphicon glyphicon-cog"></span> Configuración <% end %></li>
          <% end %>
          <li class="<%= current_view === 'patients' ? 'active' : '' %> menu-item"><%= link_to patients_path(research_id: @current_research) do %> <span class="fa fa-heartbeat"></span> Pacientes <% end %></li>
          <li class="<%= current_view === 'appointments' ? 'active' : '' %> menu-item"><%= link_to appointments_path(research_id: @current_research) do %> <span class="fa fa-calendar"></span> Visitas <% end %></li>
          
          <!-- <li class="menu-item"><a href="#"><span class="fa fa-file"></span> Reporte </a></li> TODO: Will be a report menu? -->
        </ul>
      <% end %>

      <ul class="nav nav-sidebar">
      	<% if is_admin? %>
          <li class="menu-item"><a href="#"><span class="fa fa-wrench"></span> Ajustes </a></li>
        <% end %>
        <li class="<%= current_view === 'user-account' ? 'active' : '' %> menu-item"><%= link_to user_path(current_user) do %> <span class="fa fa-user-circle"></span> Mi cuenta <% end %></li>
      </ul>
    </div>
    
    
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<!-- CONTENT HERE -->

<% end %>
